/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
ul,
ol {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  appearance: none;
}
body {
  line-height: 1;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  