@import "./variables";
@import "./mixin";


// frequently used
.d-flex{
    display: flex !important;
}
.d-none{
    display: none !important;
}
.w-100{
    width: 100%;
}
.text-white{
    color: white;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.same_button{
    padding: 16px 54px;
    border-radius: 62px;
    background-color: black;
    color: white;
    font-family: $satoshiVariable;
    font-weight: 500;
    transition: all 0.1s ease;
}
.same_button:hover{
    color: black;
    background-color: white;
    box-shadow: inset 0 0 3px black;
    transform: scale(1.05);
}
.same_button:active{
    transform: scale(0.96);

}
.view_button{
    padding: 16px 54px;
    border-radius: 62px;
    background-color: rgb(255, 255, 255);
    font-family: $satoshiVariable;
    font-weight: 500;
    box-shadow: inset 0 0 1px black;
    transition: all 0.1s ease;
}
.view_button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transform: scale(1.05);
}
.view_button:active{
    transform: scale(0.96);

}
.sign-up-advertise{
    width: 100%;
    height: 38px;
    background-color: black;
    font-family: $satoshiVariable;
    display: flex;
    justify-content: center;
    align-items: center;
    .advertise_text{
        color: white;
        font-size: $textMedium;
        a{
            color: white;
            font-size: $textMedium;
            font-family: $satoshiVariable;
            font-weight: 500;
        }
    }
    img{
        cursor: pointer;
        position: absolute;
        right: 100px;
    }
}

@media screen and (max-width:1330px){
    body{
        width: 390px;
        margin: 0 auto;
    }
}

header{
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 24px 100px;
    & > *{
        flex-shrink: 0;
    }
    .main_link{
        gap: 16px;
        display: flex;
        a{
            font-family: $integralCF;
            text-decoration: none;
            color: black;
            font-size: 32px;
            line-height: 22px;
            transform: translate(0,-3px);
        }
        .hamburger{
            display: none;
        }
        @media screen and (max-width:1330px){
            a{
                font-size: 25.2px;
            }
        }
        @media screen and (max-width:1330px){
            .hamburger{
                display: block;
            }
        }

    }
    & > nav{
        & > ul{
            .shop-after::after{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 24px;
                background-color: transparent;
            }
            .shop-after:hover .hidden-dropdown{
                display: flex;
                z-index: 2;
            }
            .shop-after:hover > img{
                transform: rotate(180deg);
            }
            & > li{
                & > .hidden-dropdown{
                    position: absolute;
                    display: none;
                    border-radius: 20px;
                    left: 0;
                    top: calc(100% + 24px);
                    flex-direction: column;
                    width: 180px;
                    padding: 16px;
                    gap: 16px;
                    background-color: white;
                    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.321);
                    a{
                        color: #8D8D8D;
                    }
                }
            }
            display: flex;
            gap: 24px;
            a{
                font-family: $satoshiVariable;
                text-decoration: none;
                color: black;
                img{
                    width: 16px;
                    aspect-ratio: 1/1;
                }
            }
        }
    }
    @media screen and (max-width:1330px){
        &{
            justify-content: space-between;
        }
        margin: 20px 16px;
    }
    .form-box{
        background-color: #F0F0F0;
        border-radius: 62px;
        padding: 12px 16px;
        gap: 12px;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .icons-box{
        gap: 14px;
        display: flex;
        img{
            width: 24px;
            aspect-ratio: 1/1;
        }
        .hidden-icon{
            display: none;
        }
    }
    .hamburger-menu{
        display: none;
        background-color: white;
        width: 275px;
        height: calc(100vh - 98px);
        top: calc(100% + 20px);
        left: -17px;
        padding: 24px;
        flex-direction: column;
        align-items: start;
        gap: 72px;
        font-family: $modalFont;
        font-size: $textBig;
        z-index: 2;
        & > nav{
            display: flex;
            flex-direction: column;
            gap: 32px;
            h2{
                font-size: $textBig;
            }
        }
        .close_menu{
            width: 24px;
            aspect-ratio: 1/1;
            cursor: pointer;
        }
        .menu {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
        
        .menu > li {
          position: relative;
          cursor: pointer;
          color: #8D8D8D;
        }
        
        .submenu {
          display: none;
          top: 100%;
          left: 0;
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 150px;
        }
        
        .submenu li {
          padding: 10px;
        }
        
        .menu > li:hover .submenu {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 24px 0 8px 0;
        }
        .menu > li:hover > img{
            rotate: 180deg;
        }
        & > button{
            background-color: black;
            color: white;
            padding: 14px 32px;
            display: flex;
            border-radius: 10px;
        }
        & > button:active{
            transform: scale(0.95);
        }
          
    }
}
.hero-section{
    background-color: $secondaryColor;
    height: 663px;
    display: flex;
    margin: 0 auto;
    position: relative;
    .small-diamond{
        top: 301px;
        left: 750px;
    }
    .bigger-diamond{
        top: 90px;
        left: 1255px;
    }
    .responsive-small{
        top: 540px;
        left: 27px;
    }
    .responsive-big{
        top: 463px;
        left: 293px;
    }
    .hero-text-number{
        padding: 103px 0 0 100px;
        width: 50%;
        @media screen and (max-width:1330px){
            padding: 40px 16px 0 16px;
            width: 390px;
        }
        .hero-text_content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            h1{
                font-family: $integralCF;
                font-size: 64px;
                width: 577px;
            }
            p{
                color: black;
                opacity: 0.6;
                font-size: $textBig;
                font-family: $satoshiVariable;
                font-weight: 400;
                width: 545px;
            }
            @media screen and (max-width:1330px){
                gap: 0;
                h1{
                    font-size: 36px;
                    width: 315px;
                }
                p{
                    width: 358px;
                    margin-top: 20px;
                }
                .shop-now-button{
                    width: 358px;
                    margin-top: 24px;
                }
            }
        }
        .hero-number-content{
            margin-top: 48px;
            .content-box{
                h2{
                    font-family: $satoshiVariable;
                    font-size: 40px;
                }
                p{
                    font-family: $satoshiVariable;
                    color: rgb(0, 0, 0, 0.6);
                    font-size: $textBig;
                    line-height: 22px;
                }
                @media screen and (max-width:1330px){
                    width: 278px;
                    flex-wrap: wrap;
                    h2{
                        font-size: 24px;
                    }
                    p{
                        font-size: $textSmall;
                    }
                }
            }
            .content-box:nth-child(1){
                padding-right: 32px;
                border-right: 1px solid rgb(0, 0, 0, 0.1);
            }
            .content-box:nth-child(2){
                padding: 0 32px;
                border-right: 1px solid rgb(0, 0, 0, 0.1);
            }
            .content-box:nth-child(3){
                padding-left: 32px;
            }
            @media screen and (max-width:1330px){
                .content-box:nth-child(1){
                    padding-right: 27.5px;
                    border: 0;
                    border-right: 1px solid rgb(0, 0, 0, 0.1);
                }
                .content-box:nth-child(2){
                    padding: 0;
                    padding-left: 27.5px;
                    border: 0;
                }
                .content-box:nth-child(3){
                    padding: 0;
                    border: 0;
                    text-align: center;
                }
                .content-box{
                    flex: 0 0 50%;
                }
                width: 278px !important;
                flex-wrap: wrap;
                justify-content: center;
                margin: 20px auto 0 auto !important;
            }
        }
    }
    .photo_content{
        width: 50%;
        height: 100%;
        img{
            width: 90%;
            height: 100%;
            object-fit: cover;
            object-position: 0 10%;
        }
    }
}
.moving-ad{
    background-color: black;
    height: 122px;
    align-items: center;
    margin-bottom: 72px;
    @media screen and (max-width:1330px){
        width: 390px;
        margin: 0 auto;
        height: 70px;
    }
    .owl-carousel{
        .item{
            img{
                height: 36px;
            }
            @media screen and (max-width:1330px){
                img{
                    height: 26px;
                }
            }
        }
    }
}

.whole-section{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    gap: 80px;
    @media screen and (max-width:1330px){
        gap: 50px;
        padding: 0 16px;
    }
}

.new-arrivals-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    hr{
        width: 100%;
        margin: 64px 0 ;
        border: none;
        border-top: 1px solid rgb(0, 0, 0, 0.1);
        @media screen and (max-width:1330px){
            margin: 40px 0;
            width: 390px;
        }
    }
    .view_button{
        margin-top: 36px;
    }
}
// same card styles
.arrivals_title{
    font-size: 48px;
    font-family: $integralCF;
    text-align: center;
    @media screen and (max-width:1330px){
        font-size: 32px;
    }

}
.arrival-cards-box, .topSelling-cards-box{
    margin-top: 55px;
    display: flex;
    gap: 20px;
    @media screen and (max-width:1330px){
        margin-top: 50px;
        gap: 16px;
        width: 390px;
        padding-left: 16px;
        overflow: hidden;
    }
    .same-card{
        display: flex;
        flex-direction: column;
        align-items: start;
        img{
            width: 295px;
            height: 298px;
            border-radius: 20px;
        }
        h6{
            margin-top: 16px;
            font-size: 20px;
            font-family: $satoshiVariable;
            font-weight: 700;
        }
        // .star-box{
        //     margin-top: 8px;
        //     p{
        //         color: #FFC633;
        //         font-size: 18.53px;
        //         letter-spacing: 4px;
        //         display: flex;
        //         align-items: center;
        //         .half-star {
        //           display: inline-block;
        //           overflow: hidden;
        //           width: 0.52em; /* Adjust as needed depending on font size */
        //           vertical-align: bottom;
        //         }
        //         .star-count{
        //             margin-left: 10px;
        //             font-family: $satoshiVariable;
        //             color: rgb(0, 0, 0, 0.6);
        //             font-size: $textMedium;
        //             letter-spacing: 1px;
        //         }
                  
        //     }
        // }
        .price-box{
            gap: 10px;
            margin-top: 8px;
            align-items: center;
            .arrival_price{
                font-size: 20px;
                font-family: $satoshiVariable;
                font-weight: 700;
            }
            .real_price{
                font-size: 20px;
                font-family: $satoshiVariable;
                color: rgb(0, 0, 0, 0.4);
                text-decoration: line-through;
            }
            .sale-amount{
                padding: 6px 14px;
                border-radius: 62px;
                font-family: $satoshiVariable;
                font-weight: 500;
                font-size: $textSmall;
                background-color: #FF33331A;
                color: #FF3333;
            }
        }
        @media screen and (max-width:1330px){
            img{
                width: 198px;
                height: 200px;
                border-radius: 13px;
            }
            h6{
                margin-top: 10px;
                font-size: 16px;
            }
            .star-box{
                margin-top: 4px;
                p{
                    font-size: 15px;
                    .half-star {
                      width: 0.49em;
                    }
                    .star-count{
                        color: rgb(0, 0, 0, 0.6);
                        font-size: $textSmall;
                    }
                      
                }
            }
            .price-box{
                gap: 5px;
                margin-top: 4px;
            }
        }
    }
}
.star-box{
    margin-top: 8px;
    p{
        color: #FFC633;
        font-size: 18.53px;
        letter-spacing: 4px;
        display: flex;
        align-items: center;
        .half-star {
          display: inline-block;
          overflow: hidden;
          width: 0.52em; /* Adjust as needed depending on font size */
          vertical-align: bottom;
        }
        .star-count{
            margin-left: 10px;
            font-family: $satoshiVariable;
            color: rgb(0, 0, 0, 0.6);
            font-size: $textMedium;
            letter-spacing: 1px;
        }
          
    }
    @media screen and (max-width:1330px){
        margin-top: 4px;
        p{
            font-size: 15px;
            .half-star {
              width: 0.49em;
            }
            .star-count{
                color: rgb(0, 0, 0, 0.6);
                font-size: $textSmall;
            }
              
        }
        }
    }
@media screen and (max-width:1330px){
    .view_button{
        width: 358px;
    }
}
// same card styles end

.browse-section{
    background-color: #F0F0F0;
    border-radius: 40px;
    height: 866px;
    padding: 0 64px;
    align-items: center;
    .arrivals_title{
        margin: 70px 0 64px 0;
    }
    .casual-formal-styles{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        & > div{
            height: 289px;
            overflow: hidden;
            border-radius: 20px;
            background-color: white;
        }
        [class^="casual-image"]{
            width: 407px;
        }
        [class^="formal-image"]{
            width: 684px;
        }
        .casual-image1{
            img{
                transform: scaleX(-1);
                position: relative;
                top: -142px;
                left: -230px;
            }
        }
        .casual-image2{
            img{
                width: 452px;
                height: 677px;
                position: relative;
                top: -148px;
                left: 53px;
            }
        }
        .formal-image1{
            img{
                width: 1306px;
                height: 870px;
                position: relative;
                top: -146px;
            }
        }
        .formal-image2{
            img{
                width: 770px;
                height: 616px;
                position: relative;
                top: -163px;
                left: 42px;
            }
        }
        .same-casual-title{
            top: 25px;
            left: 36px;
            font-family: $satoshiVariable;
            font-weight: 700;
            font-size: 36px;
            z-index: 5;
        }
    }
    @media screen and (max-width:1330px){
        border-radius: 20px;
        height: 975px;
        padding: 0 24px;
        .arrivals_title{
            margin: 40px 0 28px 0;
        }
        .casual-formal-styles{
            gap: 16px;
            & > div{
                height: 190px;
                width: 310px;
            }
            .casual-image1{
                img{
                    width: 572px;
                    top: -95px;
                    left: -171px;
                }
            }
            .casual-image2{
                img{
                    width: 285px;
                    height: 425px;
                    top: -90px;
                    left: 70px;

                }
            }
            .formal-image1{
                img{
                    width: 709px;
                    height: 472px;
                    top: -88px;
                    left: -17px;

                }
            }
            .formal-image2{
                img{
                    width: 389px;
                    height: 311px;
                    top: -82px;
                }
            }
            .same-casual-title{
                top: 16px;
                left: 24px;
                font-size: 24px;
            }
        }
    }
}
.comments-carousel{
    width: 100%;
    .arrivals_title{
        text-align: left;
        margin: 80px 0 40px 100px;
    }
    .owl-carousel{
        .item{
            border-radius: 20px;
            width: 400px;
            border: 1px #0000001A solid;
            padding: 28px 32px;
            .name-and-approval{
                img{
                    width: 20px;
                    aspect-ratio: 1/1;
                }
                .element_name{
                    font-family: $satoshiVariable;
                    font-size: 20px;
                    margin: 15px 0 12px 0;
                }
            }
            & > p{
                font-family: $satoshiVariable;
                font-weight: 400;
                font-size: $textBig;
                line-height: 22px;
                color: #00000099;
                ;
            }
        }
        .owl-nav {
            display: flex !important;
            justify-content: space-between;
            position: absolute;
            font-size: 25px;
            top: -70px;
            right: 100px;
          }
          
    }
    @media screen and (max-width:1330px){
        .arrivals_title{
            margin: 50px 0 24px 16px;
        }
        .owl-carousel{
            .item{
                width: 358px;
                padding: 24px;
                .name-and-approval{
                    img{
                        width: 19px;
                        aspect-ratio: 1/1;
                    }
                    .element_name{
                        font-size: 16px;
                        margin: 15px 0 11px 0;
                    }
                }
                & > p{
                    font-size: $textMedium;
                    line-height: 20px;
                    ;
                }
            }
            .owl-nav {
                font-size: 30px;
                top: -68px;
                right: 16px;
              }
              
        }
    }
}

//* newsletter-section style STARTT
.newsletter-section {
    transform: translateY(50%);
    z-index: 1;
    width: 1240px;
    margin: 0 auto;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 36px 64px;
    border-radius: 20px;
  
    h2 {
      font-family: $integralCF;
      font-size: 40px;
      line-height: 45px;
    }
  
    .newsletter-form {
      display: flex;
      flex-direction: column;
      width: 349px;
      gap: 14px;
  
      input {
        padding: 12px 16px 12px 52px;
        border-radius: 62px;
        border: none;
        background-color: white;
        color: gray;
  
        background-image: url(../assets/icons/inbox.svg);
        background-repeat: no-repeat;
        background-position: 16px center;
        background-size: 24px 24px;
      }
  
    }
}
  
  
@media screen and (max-width: 1330px) {
    .newsletter-section {
      display: block !important;
      width: 358px;
      padding: 24px;
  
      .newsletter-form {
        width: 100%;
        margin-top: 5vh;
        width: 311px;
        button{
            width: 311px;
        }
      }
  
      h2 {
        font-size: 32px;
  
        br {
          display: none;
        }
      }
    }
}
//! newsletter-section style ENDD



//* FOOTER style STARTT
footer {
    padding: 140px 100px 88px 100px;
    background-color: #F0F0F0;
    position: relative;

    .logo_section {
        #logo {
            font-family: $integralCF;
            text-decoration: none;
            color: black;
            font-size: 33px;
            line-height: 100%;
        }

        p {
            color: #00000099;
            font-family: $satoshiVariable;
            margin: 25px 0 35px 0;
            font-size: $textMedium;
            line-height: 22px;
        }

        .social-icons {
            gap: 12px;

            img {
                width: 28px;
                aspect-ratio: 1/1;
            }
        }
    }

    .footer_sub_section {

        .title {
            letter-spacing: 3px;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 26px;
            color: black;
            font-family: $satoshiVariable;
            font-weight: 500;
        }

        li {
            line-height: 36px;
            a{
                line-height: 19px; 
                font-size: $textBig;
                text-decoration: none;
                color: #00000099;
            }
        }
    }
    .two_sub_section_box {
        gap: 113px;
    }

    .secondary-footer_section {
        display: flex;
        justify-content: space-between;
        padding-top: 2vh;

        p {
            color: #00000099;

        }

        .card-icons {
            gap: 10px;

            img {
                height: 30px;
            }
        }
    }
}

@media screen and (min-width:1330px) {
    footer {
        .main-footer_section {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            border-bottom: 2px solid gray;

        }
    }
}

@media screen and (max-width:1330px) {
    footer {
        padding: 189px 17px 77px 17px;

        // padding: 10vh 5vh;
        width: 390px;
        margin: 0 auto;

        .main-footer_section {
            display: block;
            justify-content: space-between;
            padding-bottom: 40px;
            border-bottom: 2px solid #0000001A;

            .logo_section {
                margin-bottom: 24px
            }

            .two_sub_section_box {
                gap: 89px;
                margin-bottom: 40px;
            }
        }

        .secondary-footer_section {
            display: block;
            text-align: center;

            p {
                margin-bottom: 16px;
            }

            .card-icons {
                justify-content: center;
            }
        }
    }
}

// shop section start
.shop-section{
    padding: 0 100px;
    hr{
        border: none;
        border-bottom: #0000001A 1px solid;
    }
    .shop-path{
        margin: 24px 0;
        color: #00000099;
        font-family: $satoshiVariable;
    }
    .filter-box{
        width: 295px;
        border-radius: 20px;
        border: 1px solid #0000001A;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 20px 24px;
        font-family: $satoshiVariable;
        .filter-title-icon{
            justify-content: space-between;
            align-items: center;
        }
        .hoodie-jeans-box{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .hoodie_same{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #00000099;
            }
        }

        .range_container {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
        }
  
        .sliders_control {
          position: relative;
          min-height: 50px;
        }

        .form_control {
          position: relative;
          display: flex;
          justify-content: space-between;
          font-size: 24px;
          color: #F0F0F0;
        }

        input[type=range]::-webkit-slider-thumb {
          pointer-events: all;
          width: 24px;
          height: 24px;
          background-color: #000000;
          border-radius: 50%;
          box-shadow: 0 0 0 1px #000000;
          cursor: pointer;
        }

        input[type=range]::-moz-range-thumb {
          pointer-events: all;
          width: 24px;
          height: 24px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0 0 1px #C6C6C6;
          cursor: pointer;  
        }

        input[type=range]::-webkit-slider-thumb:hover {
          background: #ffffff;
        }

        input[type=range]::-webkit-slider-thumb:active {
          box-shadow: inset 0 0 1px black;
          -webkit-box-shadow: black;
        }

        input[type="number"] {
          color: #8a8383;
          width: 60px;
          height: 30px;
          font-size: 20px;
          border: none;
        }

        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button {  
           opacity: 1;
        }

        input[type="range"] {
          -webkit-appearance: none; 
          appearance: none;
          height: 2px;
          width: 100%;
          position: absolute;
          background-color: #C6C6C6;
          pointer-events: none;
        }

        #fromSlider {
          height: 0;
          z-index: 1;
        }
        .colors-box{
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            row-gap: 16px;
            cursor: pointer;
            .different-colors{
                width: 37px;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
            .different-colors:nth-child(1){
                background-color: #00C12B;
            }
            .different-colors:nth-child(2){
                background-color: #F50606;
            }
            .different-colors:nth-child(3){
                background-color: #F5DD06;
            }
            .different-colors:nth-child(4){
                background-color: #F57906;
            }
            .different-colors:nth-child(5){
                background-color: #06CAF5;
            }
            .different-colors:nth-child(6){
                background-color: rgb(0, 0, 195);
            }
            .different-colors:nth-child(7){
                background-color: #7D06F5;
            }
            .different-colors:nth-child(8){
                background-color: #F506A4;
            }
            .different-colors:nth-child(9){
                background-color: white;
            }
            .different-colors:nth-child(10){
                background-color: black;
            }

        }
        .sizes-box{
            flex-wrap: wrap;
            gap: 12px;
            & > div{
                cursor: pointer;
                background-color: #F0F0F0;
                color: #00000099;
                border-radius: 62px;
                padding: 10px 20px;
                font-size: $textMedium;
            }
        }
    }
    @media screen and (max-width:1330px){
        padding: 0 16px;
        .filter-box{
            display: none;
        }
    }
}